* {
  margin: 0; 
}
.app__posts {
 padding: 20px;
 
}

.App {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  object-fit: contain;
  background-color: white;
}

.app_headerImage {
  background-color: white;
  padding: 20px;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.app__logincontainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  
  }
